* {
    margin: 0;
    padding: 0;
}
.container {
    /* bloc principal */
    font-family: "Futura",
        sans-serif;
    width: 100%;
    display: grid;
    grid-template-areas:"entete entete"
                        "principal1 principal3"
                        "principal2 principal4";
}    
.header1 {
    font-family: "Bodoni MT", "sans-serif";
    grid-area: entete;
}
.section1 {
    grid-area: principal1;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}
.section2 {
    grid-area: principal2;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}
.section3 {
    grid-area: principal3;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}
.secondcontainer {
    /* bloc principal */
    font-family: "Futura",
        sans-serif;
    width: 100%;
    display: grid;
    grid-template-areas: "principal1 principal2 principal3";      
}

.secondsection1 {
    grid-area: principal1;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}

.secondsection2 {
    grid-area: principal2;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}

.secondsection3 {
    grid-area: principal3;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}
.section4 {
    grid-area: principal4;
    place-self: center;
    padding: 15px;
    border: solid 10px aliceblue;
}
.list1{
    column-count: 4;
    column-width: 50px;
}
.containerflex{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
.depense{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
.itemlist{
    width: 150px;
}
.btnmodifier{
    width:50px
}
.btnsupprimer {
    width: 50px
}
.alert-section1,.alert-section2{
    display: none;
}
.showItem{
    display: block;
}
.showGreen{
    color: green;
}
.showRed {
    color: red;
}
.showblack{
    color: black;
}