@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
}
/*************** global styles ***************/
:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainbeige: rgb(255, 170, 60, 0.3);
  --darkbeige: rgb(222, 174, 115);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.05rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
  letter-spacing: var(--mainSpacing);
  padding: 10px;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}
h2 span {
  color: var(--darkbeige);
  font-size: 120%;
}
h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.8rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.75);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 2;
  top: 0;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  min-width: 850px;
}
.li2 {
  float: left;
}
.li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.li2-1 {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-family: 'Brush Script MT', 'cursive';
  font-size: 30px;
}
.li2 a:hover {
  background-color: #111;
}
.container {
  /* bloc principal */
  font-family: 'Futura', sans-serif;
  width: 100%;
  display: grid;
  grid-template-areas:
    'entete entete entete entete entete entete entete'
    'lateral1 principal1 principal1 principal1 principal1 principal1 lateral2'
    'lateral1 principal2 principal2 principal2 principal2 principal2 lateral2'
    'lateral1 principal3 principal3 principal3 principal3 principal3 lateral2'
    'lateral1 principal4 principal4 principal4 principal4 principal4 lateral2'
    'principal5 principal5 principal5 principal5 principal5 principal5 principal5'
    'pied1 pied1 pied1 pied1 pied1 pied1 pied1';
}
.titre-page {
  font-family: 'Indie Flower', cursive;
  grid-area: entete;
  background-size: cover;
  min-height: 600px;
}
.img1 {
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  z-index: 1;
}
.section-carte {
  grid-area: principal1;
  margin-top: 15px;
  width: 1rgb (255, 170, 60, 0.3) 00%;
  background-image: url(playacolorado/parchemin.jpg);
  background-size: cover;
}
.section-description-spot {
  grid-area: principal2;
  place-self: center;
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  background: rgb(255, 170, 60, 0.3);
}
.p7 {
  font-style: oblique;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 10px;
}

.section-report {
  grid-area: principal3;
}
.container-report {
  display: grid;
  grid-template-areas:
    'titre titre titre'
    'boite1 boite2 boite3'
    'boite4 boite5 boite6'
    'boite7 boite8 boite9'
    'boite10 boite10 boite10'
    'pied2-1 pied2-1 pied2-1';
}
.titre-report {
  font-family: 'Indie Flower', cursive;
  grid-area: titre;
  width: 100%;
  place-self: center;
  text-align: center;
}
.section-niveau {
  grid-area: boite1;
  place-self: center;
}
.section-qualite {
  grid-area: boite2;
  place-self: center;
}
.section-frequentation {
  grid-area: boite3;
  place-self: center;
}
.section-paysage {
  grid-area: boite4;
  place-self: center;
}
.section-localisme {
  grid-area: boite5;
  place-self: center;
}
.section-acces {
  grid-area: boite6;
  place-self: center;
}
.section-maree {
  grid-area: boite7;
  place-self: center;
}
.section-saison {
  grid-area: boite8;
  place-self: center;
}
.section-fond {
  grid-area: boite9;
  place-self: center;
}
.section-baroudeur {
  grid-area: boite10;
  place-self: center;
  background: rgb(255, 170, 60, 0.3);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  height: 20rem;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.logo3 {
  display: block;
  position: relative;
  float: left;
  width: 75px;
}
.secondfoot1 {
  grid-area: pied2-1;
  place-self: center;
}
.container-report-type {
  display: grid;
  grid-template-areas:
    'titre3-1  titre3-1'
    'laterale3-1 boite3-1'
    'pied3-1 pied3-1';
}
.titre-report-type {
  font-family: 'Indie Flower', cursive;
  grid-area: titre3-1;
  place-self: center;
}
.aside-report-type {
  grid-area: laterale3-1;
  place-self: right;
  height: 75px;
}
.section-note {
  grid-area: boite3-1;
  place-self: center;
  text-align: center;
}
.container-note {
  display: grid;
  min-width: 150px;
  grid-template-areas:
    'titre4-1 titre4-1'
    'boite4-1 boite4-2';
}
.titre-note {
  grid-area: titre4-1;
  place-self: center;
  text-align: center;
}
.legende-gauche-note {
  grid-area: boite4-1;
  width: 75px;
  place-self: left;
  text-align: center;
  color: rgb(86, 84, 84);
  font-size: 10px;
  font-style: oblique;
}
.legende-droite-note {
  grid-area: boite4-2;
  width: 75px;
  place-self: right;
  text-align: center;
  color: rgb(86, 84, 84);
  font-size: 10px;
  font-style: oblique;
}
.pied-report-type {
  grid-area: pied3-1;
  place-self: center top;
  font-size: smaller;
  text-align: justify;
  text-align: center;
  padding: 15px;
  height: 75px;
}
.bouger {
  grid-area: principal4;
}
.container-bouger {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'titre-1 titre-1 titre-1'
    'boite1-1 boite2-1 boite3-1';
}
.titre-bouger {
  font-family: 'Indie Flower', cursive;
  grid-area: titre-1;
  width: 100%;
  place-self: center;
  text-align: center;
}
.section-loger {
  grid-area: boite1-1;
  place-self: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  height: 600px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.img4 {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.p3 {
  font-size: smaller;
  text-align: justify;
  padding: 15px;
  height: 200px;
}
.section-manger {
  grid-area: boite2-1;
  place-self: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  height: 600px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.section-sortir {
  grid-area: boite3-1;
  place-self: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  height: 600px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.galerie {
  margin: 15px;
  grid-area: principal5;
  background-color: #ffffff;
  min-width: 500px;
  height: fit-content;
}
.containerimg {
  padding: 10px;
  display: flex;
  overflow-x: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.containerimg::-webkit-scrollbar {
  width: 20px;
}

.containerimg::-webkit-scrollbar-track {
  background-color: #e4e4e400;
  border-radius: 100px;
}

.containerimg::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #b1b1b1;
}

.itemimg {
  margin-right: 15px;
  height: 250px;
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
}
.titre-galerie {
  font-family: 'Indie Flower', cursive;
  grid-area: titre-1;
  width: 100%;
  color: rgb(0, 0, 0);
  place-self: center;
  text-align: center;
}
.asidegauche {
  width: 200px;
  grid-area: lateral1;
}
.aside-gauche-moi {
  grid-area: aside1Principal1;
  padding: 15px;
}
.aside-gauche-autour-container {
  display: grid;
  grid-template-areas:
    'aside1Section1Principal1'
    'aside1Section1Principal2'
    'aside1Section1Principal3';
}
.aside-gauche-autour-section1 {
  width: 100%;
  grid-area: aside1Section1Principal1;
}
.contenant {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Futura', sans-serif;
  margin-top: 15px;
}
.img2 {
  width: 100%;
  height: auto;
  background: hotpink;
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 5%;
}
.texte_centrer {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aside-gauche-autour-section2 {
  width: 100%;
  grid-area: aside1Section1Principal2;
}
.aside-gauche-autour-section3 {
  width: 100%;
  grid-area: aside1Section1Principal3;
}
.aside-gauche-autour {
  grid-area: aside1Principal2;
  padding: 15px;
}
.aside-gauche-coeur {
  grid-area: aside1Principal3;
  padding: 15px;
}
.aside-gauche-moi-fond {
  background: rgb(255, 170, 60, 0.5);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 5%;
}
.img3 {
  width: 60%;
  height: auto;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}
.p4 {
  text-align: center;
  font-size: 12px;
  font-style: oblique;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.aside-gauche-valise {
  grid-area: aside1Principal4;
  padding: 15px;
}
.aside-gauche-valise-fond {
  background: rgb(255, 170, 60, 0.5);
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 5%;
  box-sizing: content-box;
}
.img5 {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.p5 {
  text-align: center;
  font-size: 12px;
  font-style: oblique;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.zoom2 div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom2 div:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.aside-gauche-titre {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
  font-style: oblique;
  font-weight: 100;
  text-align: center;
  position: relative;
  line-height: 30px;
  box-shadow: 0 16px 0 0 #fff inset, 0 17px 0 0 rgb(161, 160, 160) inset;
}
.aside-gauche-titre-span {
  background-color: #fff;
  padding: 0 10px;
}
.aside2 {
  width: 200px;
  grid-area: lateral2;
}
.ul1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.li1 {
  text-align: center;
  margin-bottom: 50px;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 12px #fff;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0px rgb(164, 164, 164);
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 30px;
}

.li1:hover {
  top: 0px;
  opacity: 0.5;
}

.li1:nth-child(1) {
  transform: rotate(15deg);
}

.li1:nth-child(2) {
  transform: rotate(-10deg);
}

.li1:nth-child(3) {
  transform: rotate(10deg);
}

.li1:nth-child(4) {
  transform: rotate(-15deg);
}
.li1:nth-child(5) {
  transform: rotate(10deg);
}

.li1:nth-child(6) {
  transform: rotate(-10deg);
}

.li1:nth-child(7) {
  transform: rotate(20deg);
}

.p6 {
  font-family: 'Brush Script MT', 'cursive';
  font-size: 20px;
  margin: -15px 0 0 0;
}

.light {
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;

  background: #fff;
  filter: blur(100px);
  opacity: 0.3;
  pointer-events: none;
}
.img6 {
  width: 100px;

  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.foot1 {
  grid-area: pied1;
  border: dotted 2px rgb(209, 65, 65);
}

.titre-bouger-section {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  place-self: center;
  text-align: center;
}
.titre-report-type2 {
  font-family: 'Indie Flower', cursive;
  place-self: center;
  text-align: center;
}
.p1 {
  text-align: left;
  font-size: 12px;
  font-style: oblique;
}

.p2 {
  text-align: right;
  font-size: 12px;
  font-style: oblique;
}
.p3 {
  font-size: smaller;
  text-align: justify;
  padding: 15px;
  height: 50px;
}
.logo {
  width: 75px;
  height: auto;
  float: right;
}
.logo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

.mybox {
  position: relative;
}
.mybox:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid #000000;
}
.mybox1 {
  position: relative;
}
.mybox1:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15%;
  width: 70%;
  border-bottom: 1.5px solid #000000;
}
.mybox2 {
  position: relative;
}
.mybox2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15%;
  width: 70%;
  border-bottom: 1.5px solid #ffffff;
}
/* 
.menu-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
}

.menu-3 li {
    width: 105px;
    height: 50px;
    transition: background-position-x 0.6s linear;
    text-align: center;
}

.menu-3 li a {
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45s;
}

.menu-3 li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    -webkit-animation: line 1s;
    animation: line 1s;
}

.menu-3 li:hover a {
    color: #d94f5c;
}

.menu-3 li:not(:last-child) {
    margin-right: 30px;
}

@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
} */

/* j'ai fait un CSS basique, le but étant de montrer la technique pour colorer le fond de l'étoile 1 si on est sur la 1ère étoile, les étoiles 1 et 2 si on est sur la 2ème étoile, etc */
.zoom div img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoom div:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.containerimage {
  width: 100%;
  min-height: 100vh;
  background: #333;
}

.image {
  perspective: 3000px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.image img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  transform-style: preserve-3d;
}

.image:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.tv {
  position: relative;

  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
