/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* css variables */
:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainbeige: rgb(255, 170, 60, 0.3);
  --darkbeige: rgb(222, 174, 115);
  --mainTransition: all 0.5s linear;
  --mainSpacing: 0.05rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
}
/* body */
body {
  font-family: 'Futura', sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.2;
  font-size: 1.6rem;
  width: 100%;
}

/*************** global styles ***************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
  margin-bottom: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

h1 {
  font-size: 5.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* more global styles */

/* buttons */

/* section */

/* title */

/*************** end of global styles ***************/
.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #f0f0f0;
}
.dark-mode {
  --navbar-color: #fff;
  --navbar-bg-color: #000;
}
/************* start of navbar *************/
.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 2.08rem;
  font-family: 'Indie Flower', cursive;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
}
.navbar-logo {
  font-family: 'Brush Script MT', 'cursive';
  font-size: 30px;
}
.navbar-links {
  display: flex;
}
.navbar-link {
  padding: 0 10px;
}
.navbar-link a {
  color: var(--navbar-color);
  text-decoration: none;
}
.navbar-link a:hover {
  color: var(--darkbeige);
}
.burger {
  display: none;
}

/*  Small device */
@media screen and (max-width: 768px) {
  .navbar-links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar-links {
    width: 100vw;
    transform: translateX(0);
  }
  .navbar-link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar-link {
    transform: translateX(0);
  }
  .navbar-link a {
    display: block;
    padding: 2.2rem;
    font-size: 3.2rem;
    color: var(--navbar-color);
    transition: all 0.4s ease-in-out;
  }
  .navbar-link a:hover {
    padding-left: 4rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: '';
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
}
/**************** end of navbar *****************/
/*************** Structure site ***************/

/*************** fin Structure site ***************/

/*************** carousel ***************/
.carousel {
  perspective: 1200px;
  height: 92vh;
  background: var(--mainbeige);
  font-size: 0;
  overflow: hidden;
}
.spinner {
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
.spinner img {
  width: 30%;
  max-width: 425px;
  max-height: 300px;
  position: absolute;
  left: 35%;
  top: 20%;
  transform-origin: 50% 50% -500px;
  transition: transform-origin 0.5s linear;
  outline: 1px solid transparent;
}
.hovered {
  font-size: 0;
  background: transparent;
}
.hovered:hover {
  transition: all 0.8s ease-in-out;
  background: url(../PagesSpots/playacolorado/parchemin.jpg);
  background-size: cover;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 90px 10px #646464;
  cursor: pointer;
}
.spinner img:nth-child(1) {
  transform: rotateY(0deg);
}
.spinner img:nth-child(2) {
  transform: rotateY(-60deg);
}
.spinner img:nth-child(3) {
  transform: rotateY(-120deg);
}
.spinner img:nth-child(4) {
  transform: rotateY(-180deg);
}
.spinner img:nth-child(5) {
  transform: rotateY(-240deg);
}
.spinner img:nth-child(6) {
  transform: rotateY(-300deg);
}
.cacher {
  visibility: hidden;
}
.icon-retour,
.icon-droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  background-color: var(--mainbeige);
  height: 40px;
  width: 40px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  transition: var(--mainTransition);
}
.icon-retour {
  left: 5px;
}
.icon-droite {
  right: 5px;
}
.icon-retour,
.icon-droite:hover {
  cursor: pointer;
}
.arrow,
.arrow-droite {
  border-top: solid 3px var(--mainBlack);
  border-left: solid 3px var(--mainBlack);
  width: 15px;
  height: 15px;
  transition: var(--mainTransition);
}
.arrow {
  transform: rotate(-45deg);
}
.arrow-droite {
  transform: rotate(135deg);
}
/*************** fin de carousel***************/
/*************** Selection spot section ***************/
.card-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../PagesSpots/playacolorado/parchemin.jpg);
  width: 80%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.img-carte {
  width: 40%;
  transition: all 0.5s linear;
}
.container-spot {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 2rem;
}
.card-item {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura', sans-serif;
  margin-top: 30px;
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 10px;
  height: 25rem;
}
.img-item {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px rgb(212, 212, 212);
  border-radius: 5%;
}
.bloc_lien {
  display: block;
  height: 100%;
  /* width: auto (par défaut) */
}
.texte_centrer {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--darkbeige);
  font-family: 'Indie Flower', cursive;
}
.zoom .card-item {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom .card-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
/*************** end of Selection spot section ***************/
/*************** services section ***************/

/*************** end of services section ***************/
/*************** featured tours section ***************/

/*************** end of featured tours section ***************/
/*************** gallery ***************/

/*************** end of gallery ***************/
/*************** deals ***************/

/*************** end of deals ***************/
/*************** footer ***************/
/************ navbar *****************/
@media (max-width: 900px) {
  .spinner img,
  .spinner {
    transform-origin: 50% 50% -300px;
  }
  .img-carte {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .spinner img,
  .spinner {
    transform-origin: 50% 50% -200px;
  }
  .spinner img {
    top: 30%;
  }
  html {
    font-size: 50%;
  }
  .container-spot {
    grid-template-columns: auto auto;
  }
  .icon-retour,
  .icon-droite {
    height: 30px;
    width: 30px;
  }
  .arrow,
  .arrow-droite {
    width: 10px;
    height: 10px;
  }
  .img-carte {
    width: 100%;
  }
}

/* CSS */
